<div class="text-start">
  <div class="alert alert-danger m-2 fs-4 text-center" role="alert" style="width: 60vw;">
    <h5>Errorrrr! your link can't found</h5>
    <h4>{{errorLink}}</h4></div>
  </div>
  <a href="/">
  <div class="alert alert-success mr-2 fs-4 text-center" role="alert">Back home</div></a>
</div>