
<div class="d-flex flex-column text-center ">
  <div class="m-2 p-2">
    <h2>URL Shortener</h2>
  </div>
  <div class="m-2 p-2" >
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="URL Shortener" style="width: 15vw">
  </div>
  <div class="m-2 p-2">
    <form action="/short" method="POST">
      <input class="form-control" type="url" name="short" placeholder="input url here" value="{{baseurl}}">
      <button type="submit" class="btn btn-success m-2 p-2">Click me to Shorten</button>
    </form>
    {{#if baseurl}}
      <div class="text-start">
        {{#if originUrl}}
        <h4 class="mr-2" style="color:#FF5A33">You have been create this Link</h4>
        {{else}}
        <h4 class="mr-2">Success! Please use this Link:</h4>
        {{/if}}
        <div class="ml-2 fs-3" style="color:#FF5A33">{{reurl}}</div>
      </div>
    {{/if}}
    
    {{#if notFoundUrl}}
      <div class="text-start alert alert-danger text-align-center">
        <h3 class="mt-2">Oops! Please input URL</h3>
      </div>
    {{/if}}
  </div>
</div>